@import "styles/variaveis";

.buscador {
    // border: 1px solid red;

    display: flex;
    align-items: center;
    width: max-content;
    padding: 0 1rem;
    background-color: $cinza-claro4;
    border-radius: 5px;
    height: 50px;

    input {
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        color:$roxo-medio4;
        font-weight: bold;
    }
}