@import "styles/variaveis";

.vazio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 50px;


    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 180px;
        text-decoration: none;
        color: $tipo-branco4;
    }
}

