@import "styles/variaveis";

.menuLink {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-left: 23px;
}

.link {
    display: flex;
    align-items: center;
    color: $tipo-branco4;
    font-size: 1.25rem;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 6px;

    &:hover {
        background-color: $cinza-claro4;
        color: $roxo-claro4;
    }
}

.linkDestacado {
    background-color: $cinza-claro4;
    color: $roxo-claro4;
}

.expandido {
    gap: 10px;
    padding-right: 50px;
    margin-right: 24px;
}
