@import "styles/variaveis";

.link {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    line-height: 1.5rem;
    color: $tipo-branco4;

    height: 35px;
    margin-right: 10px;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 5px;

    &:hover{
        color: $roxo-claro4;
    }
}

.linkDestacado {
    color: $roxo-medio4;
    background-color: $cinza-claro4;
}

.img {
    width: 15px;
    height: 15px;
}