@import "styles/variaveis";

.rodape {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.1rem;
    padding-bottom: 40px;

    // transform: translateX(5px);
    // border: 1px solid red;
    

    &__borda {
        border-bottom: 1px solid $cinza-claro4;
        margin-bottom: 30px;
    }

    &__itens {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 30px;
        
        &__item {
            display: flex;
            align-items: center;
            width: max-content;
            color: $tipo-branco4;
            cursor: pointer;
            
            &:hover {
                color: $roxo-claro4;
            }
        }
    }
}

.expandido {
    gap: 10px;
}