@import "styles/variaveis";

.rodape {
    width: 100%;
    font-size: 14px;
    line-height: 1.5rem;
    padding-bottom: 20px;

    div {
        border-bottom: 1px solid $cinza-claro4;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 35px;
        border-radius: 5px;
        color: $tipo-branco4;
        margin-left: 30px;
        gap: 10px;

        &:hover {
            color: $roxo-claro4;
        }
    }

    img {
        width: 20px;
        height: 20px;
    }
}
