@import "styles/variaveis";

.mercado {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    height: 96%;
    overflow-y: scroll;
    overflow-x: hidden;

    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__filtros {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        // border: 1px solid red;
    }
}

.mercado::-webkit-scrollbar {
    display: none;
}
