@import "styles/variaveis";

.mercado {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    height: 96%;
    overflow-y: scroll;
    overflow-x: hidden;

    // border: 3px dashed white;

    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__filtros {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        // border: 1px solid red;
    }

    &__indicador {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 2px solid $cinza-claro4;
        border-top: 2px solid $cinza-claro4;

        &__rankName {
            display: flex;
            justify-content: space-between;
            margin-left: 40px;
            width: 145px;
            // border: 1px solid red;
        }

        &__preco {
            transform: translateX(-40px);
        }

        &__tempo {
            display: flex;
            justify-content: space-between;

            width: 220px;

            transform: translateX(-130px);
            // border: 1px solid red;
        }

        &__grafico {
            margin-right: 80px;
        }
    }
}

.mercado::-webkit-scrollbar {
    display: none;
}
