@import "styles/variaveis";

.paginaPrincipal {
    display: flex;
    justify-content: space-between;
    background-color: $cinza-escuro4;
    height: 100vh;
    
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 77%;
        max-width: 77%;
        margin: 0 5%;
    }
}
