@import "styles/variaveis";

.paginaPrincipal {
    display: flex;
    background-color: $cinza-escuro4;
    height: 100vh;

    // border: 1px solid gold;
    
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        margin: 0 5%;
        // overflow-y: hidden;

        // border: 1px solid red;
    }
}
