// Tipografia
$fonte-normal: "GandhiSansRegular";
$fonte-bold: "GandhiSansBold";

//Cores
$cor-do-texto-claro: #d9d9d9;
$cinza--muito-claro: #9d9d9d;
$tag-color: rgba(148, 163, 184, 0.386);

//Cores 2.0
$cinza-claro: #383838;
$cinza-medio: #252526;
$cinza-escuro: #1e1e1e;
$cor-do-texto: #cccccc;
$bege-claro: #fffcf3;
$bege-medio: #fcf2e6;
$bege-escuro: #fff3d9;
$salmao: #ff9692;
$salmao-claro: #ffbeb1;
$salmao-escuro: #b26866;
$amarelo: #ffda56;
$amarelo-escuro: #b2983c;
$roxo-claro: #dfa9ff;
$roxo-escuro: #9c76b2;
$azul-bebe: #8bc1ff;

//Cores 3.0
$amarelo-3: #fbe89c;
$verde-3: #83b793;
$verde-escuro-3: #5e836a;
$rosa-3: #ea2d5c;
$roxo-3: #8664ba;
$laranja-3: #e29843;
$azul-bebe-3: #a0f1f4;
$azul-3: #509dbf;

//Cores 4.0
$cinza-claro4: #333436;
$cinza-medio4: #1c1d1f;
$cinza-escuro4: #131415;
$cinza-quase-roxo4: #272732;
$cinza-quase-roxo-claro4: #333436;
$roxo-claro4: #bbb0ff;
$roxo-medio4: #8b80db;
$tipo-branco4: #c6cfd2;
$branco4: #c4c9cc;
