// @import-normalize;
@import "./reset.css";
@import "./variaveis";

body {
  margin: 0;
  padding: 0;
  color: $tipo-branco4;
  overflow-y: hidden;
  overflow-x: hidden;
  
  font-family: "GandhiSansRegular";
  
}


@font-face {
  font-family: "GandhiSansRegular";
  src: local("GandhiSansRegular"),
    url("../assets/fonts/GandhiSans-Regular.otf") format("truetype");
  font-weight: 500;
  display: swap;
}

@font-face {
  font-family: "GandhiSansBold";
  src: local("GandhiSansBold"),
    url("../assets/fonts/GandhiSans-Bold.otf") format("truetype");
  font-weight: 700;
  display: swap;
}
