@import "styles/variaveis";


.menuLink {
    border: 1px dotted darkmagenta;
    width: max-content;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-left: 30px;
}

.link {
    display: flex;
    align-items: center;
    color: $tipo-branco4;
    font-size: 1.25rem;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 6px;

    &:hover {
        background-color: $cinza-claro4;
    color: $roxo-claro4;
    }

    // border: 1px solid red;
}

.linkDestacado {
    background-color: $cinza-claro4;
    color: $roxo-claro4;
}

.expandido {
    gap: 10px;
    padding-right: 50px;
}