@import "styles/variaveis.scss";

.news {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 96vh;
    width: 100%;
    padding: 0 15px 100px 15px;

    h1{
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 50px;
    }
}

.news::-webkit-scrollbar {
    display: none;
}