@import "styles/variaveis";

.ordenador {
    align-items: center;
    background-color: $cinza-claro4;
    color: $tipo-branco4;
    border: none;
    border-radius: 4px;
    
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    justify-content: space-between;
    min-width: 250px;
    max-width: 250px;
    padding: 0 40px;
    position: relative;
    &--ativo {
        // background-color: $blue;
        color: $roxo-medio4;
    }
    &__options {
        display: none;
        position: absolute;
        left: 0;
        flex-direction: column;
        top: 100%;
        width: 100%;
        &--ativo {
            display: flex;
        }
    }
    &__option {
        align-items: center;
        background-color: $cinza-claro4;
        border-top: 1px solid $tipo-branco4;
        box-sizing: border-box;
        color: $tipo-branco4;
        display: flex;
        height: 40px;
        justify-content: center;
        width: inherit;
        &:hover,
        &--ativo {
            background-color: $roxo-medio4;
            cursor: pointer;
            color: white;
        }
    }
}